# Pandas

In [4]:
import pandas as pd
import numpy as np

### 生成Pandas对象

Series

In [5]:
# 一维Series可用一维列表初始化
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
s.shape

(6,)

DataFrame

DateFrame是一个二维结构，这里首先构建一个时间序列，作为第一维的下标

In [10]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -2.802887 -0.880270 -1.700331  0.047330
2013-01-02 -1.176709  0.815668  0.302602 -1.411118
2013-01-03  0.440916  0.690680 -0.149521  0.473518
2013-01-04  0.038685 -0.562175  1.204222 -0.087558
2013-01-05  0.285165 -1.782809 -0.283060  0.712554
2013-01-06  1.144916  0.642258 -1.484045 -0.920219

默认情况，如果不指定index和column，则值将用从0开始的数字替代

除了向DataFrame 传入二维数组，也可以使用字典传入数据

In [12]:
df2 = pd.DataFrame({
    "a":1,
    "b":pd.Timestamp("20130101"),
    "c":pd.Series(1,index=list(range(4)),dtype="float32")
})
df2

   a          b    c
0  1 2013-01-01  1.0
1  1 2013-01-01  1.0
2  1 2013-01-01  1.0
3  1 2013-01-01  1.0

### 查看数据

头尾数据

head 和 tail 方法可以分别查看最前面几行和最后面几行的数据（默认为5）

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -2.802887 -0.880270 -1.700331  0.047330
2013-01-02 -1.176709  0.815668  0.302602 -1.411118
2013-01-03  0.440916  0.690680 -0.149521  0.473518
2013-01-04  0.038685 -0.562175  1.204222 -0.087558
2013-01-05  0.285165 -1.782809 -0.283060  0.712554

In [15]:
df.tail()

                   A         B         C         D
2013-01-02 -1.176709  0.815668  0.302602 -1.411118
2013-01-03  0.440916  0.690680 -0.149521  0.473518
2013-01-04  0.038685 -0.562175  1.204222 -0.087558
2013-01-05  0.285165 -1.782809 -0.283060  0.712554
2013-01-06  1.144916  0.642258 -1.484045 -0.920219