# Pandas

In [1]:
import pandas as pd
import numpy as np

### 生成Pandas对象

Series

In [2]:
# 一维Series可用一维列表初始化
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s.shape

(6,)

DataFrame

DateFrame是一个二维结构，这里首先构建一个时间序列，作为第一维的下标

In [5]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.579860 -0.830357  0.368393  0.522348
2013-01-02 -0.059964  0.870741  1.544928 -1.755545
2013-01-03 -0.296307  1.340936 -0.294580 -1.066236
2013-01-04  1.486213 -0.519441  1.308759 -0.814646
2013-01-05  2.178752 -0.508914 -0.522878  0.388236
2013-01-06  0.549623  0.087815  1.634751  0.838880

默认情况，如果不指定index和column，则值将用从0开始的数字替代

除了向DataFrame 传入二维数组，也可以使用字典传入数据

In [7]:
df2 = pd.DataFrame({
    "a":1,
    "b":pd.Timestamp("20130101"),
    "c":pd.Series(1,index=list(range(4)),dtype="float32")
})
df2

   a          b    c
0  1 2013-01-01  1.0
1  1 2013-01-01  1.0
2  1 2013-01-01  1.0
3  1 2013-01-01  1.0

### 查看数据

头尾数据

head 和 tail 方法可以分别查看最前面几行和最后面几行的数据（默认为5）

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -0.579860 -0.830357  0.368393  0.522348
2013-01-02 -0.059964  0.870741  1.544928 -1.755545
2013-01-03 -0.296307  1.340936 -0.294580 -1.066236
2013-01-04  1.486213 -0.519441  1.308759 -0.814646
2013-01-05  2.178752 -0.508914 -0.522878  0.388236

In [10]:
df.tail()

                   A         B         C         D
2013-01-02 -0.059964  0.870741  1.544928 -1.755545
2013-01-03 -0.296307  1.340936 -0.294580 -1.066236
2013-01-04  1.486213 -0.519441  1.308759 -0.814646
2013-01-05  2.178752 -0.508914 -0.522878  0.388236
2013-01-06  0.549623  0.087815  1.634751  0.838880

### 下标，列标，数据

下标

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

列标

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

数据值

In [13]:
df.values

array([[-0.57985989, -0.83035732,  0.36839305,  0.52234827],
       [-0.05996441,  0.87074081,  1.54492763, -1.7555453 ],
       [-0.29630687,  1.34093593, -0.29457994, -1.06623563],
       [ 1.48621271, -0.51944123,  1.30875939, -0.81464631],
       [ 2.17875187, -0.50891431, -0.52287829,  0.38823626],
       [ 0.54962312,  0.08781534,  1.63475063,  0.83888036]])

### 排序

sort_index 方法按照下标大小排序，axis=0表示按照第0维排序

In [14]:
df

                   A         B         C         D
2013-01-01 -0.579860 -0.830357  0.368393  0.522348
2013-01-02 -0.059964  0.870741  1.544928 -1.755545
2013-01-03 -0.296307  1.340936 -0.294580 -1.066236
2013-01-04  1.486213 -0.519441  1.308759 -0.814646
2013-01-05  2.178752 -0.508914 -0.522878  0.388236
2013-01-06  0.549623  0.087815  1.634751  0.838880

In [16]:
df.sort_index(ascending=False)

                   A         B         C         D
2013-01-06  0.549623  0.087815  1.634751  0.838880
2013-01-05  2.178752 -0.508914 -0.522878  0.388236
2013-01-04  1.486213 -0.519441  1.308759 -0.814646
2013-01-03 -0.296307  1.340936 -0.294580 -1.066236
2013-01-02 -0.059964  0.870741  1.544928 -1.755545
2013-01-01 -0.579860 -0.830357  0.368393  0.522348

In [17]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.522348  0.368393 -0.830357 -0.579860
2013-01-02 -1.755545  1.544928  0.870741 -0.059964
2013-01-03 -1.066236 -0.294580  1.340936 -0.296307
2013-01-04 -0.814646  1.308759 -0.519441  1.486213
2013-01-05  0.388236 -0.522878 -0.508914  2.178752
2013-01-06  0.838880  1.634751  0.087815  0.549623